{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <a href="/"><li>main</li></a>
        <a href="/detail"><li>detail</li></a>
        <a href="/detail"><li>second detail</li></a>
        <a href="/detail"><li>detail the third</li></a>
    </ul>
{% endblock %}

{% block stylesheets %}

{% endblock %}
